.left-enter {
  position: absolute;
  transform: translateX(100vw);
  transition: transform 1000ms ease-in-out;
}

.right-enter {
  position: absolute;
  transform: translateX(-100vw);
  transition: transform 1000ms ease-in-out;
}

.right-enter-active,
.left-enter-active {
  position: absolute;
  top: 0;
  transform: translateX(0vw);
  transition: transform 1000ms ease-in-out;
}

.left-exit-active {
  /* position: absolute; */
  transform: translateX(-100vw);
  transition: transform 1000ms ease-in-out;
}

.right-exit-active {
  /* position: absolute; */
  transform: translateX(100vw);
  transition: transform 1000ms ease-in-out;
}
