.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  /* border: 1px solid teal; */
  cursor: pointer;
}

.myBtn:hover {
  /* background: #d1d1d122; */
}

.myBtn:active {
  background: transparent;
}
