.scroll-button {
  height: 100% !important;
  color: #00808042 !important;
  width: 100%;
  z-index: 1;
}

.scroll-button:hover {
  color: teal !important;
}

button svg {
  height: 100% !important;
  width: 100px !important;
}
